MODE=prod
ALLOWED_HOST=http://0.0.0.0
ELN_URL=https://XXXXXXXX
DJANGO_SUPERUSER_USERNAME=Tom Riple
DJANGO_SUPERUSER_EMAIL=tom.riple@kit.edu
DJANGO_SUPERUSER_PASSWORD=PLEASE_CHANGE
POSTGRES_DB=bridge
POSTGRES_USER=postgres
POSTGRES_PASSWORD=PLEASE_CHANGE
PROJECT_POSTGRES_PORT=65432
PROJECT_WEB_PORT=3222
EMAIL_PORT=587
EMAIL_HOST=smtp.ionos.de
EMAIL_HOST_USER=buildern@shuttle.com
EMAIL_HOST_PASSWORD=PLEASE_CHANGE