/.env
/ShuttleBuilder.iml
/.idea/
/db.sqlite3
/static/
/node_modules/
/venv/
/projects/
/www/
/backup/
/Assets/src/main_app
/Assets/tests/main_app.test.js
/main_app/Assets/src/main_app/controller/git_insatnce_edit/git_insatnce_edit.html
/main_app/Assets/src/main_app/controller/shuttle_instance_edit/shuttle_instance_edit.html
/main_app/Assets/src/main_app/controller/git_instance_list/git_instance_list.html
/main_app/Assets/src/main_app/controller/shuttle_instance_list/shuttle_instance_list.html
/main_app/Assets/src/main_app/controller/basic_info/basic_info.html
/main_app/Assets/src/main_app/models/ElnConnection/ElnConnection_list.html
/main_app/Assets/src/main_app/models/ElnConnection/ElnConnection_details.html
/main_app/Assets/src/main_app/models/GitInstance/GitInstance_list.html
/main_app/Assets/src/main_app/models/GitInstance/GitInstance_details.html
/main_app/Assets/src/main_app/models/ShuttleInstance/ShuttleInstance_details.html
/main_app/Assets/src/main_app/models/ShuttleInstance/ShuttleInstance_list.html
/Assets/src/sdc_tools
/Assets/tests/sdc_tools.test.js
/Assets/src/sdc_user
/Assets/tests/sdc_user.test.js
/Assets/.sdc_python_env
/Assets/libs/sdc_tools
/Assets/libs/sdc_user
/main_app/Assets/src/main_app/controller/shuttle_scripts/shuttle_scripts.html
/Assets/_build/
/media/
/Assets/bin/main_app
/Assets/bin/sdc_tools
/Assets/bin/sdc_user